.white{
    color: white;
}

#textcolor{
    color:blueviolet;
    padding-left: 50px;
}

h1{
    color:brown;
}

body, html {
    height: 100%;
}
  
  /* Centered text */
.centered {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.below {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lowest {
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header {
    font-size: 100px;
    font-family: Helvetica, Arial, Sans-serif;
    font-weight: 550;
}

.subheader {
    font-size: 75px;
    font-family: Helvetica, Arial, Sans-serif;
    font-weight: 550;
}

.title {
    font-size: 33px;
    font-family: Helvetica, Arial, Sans-serif;
    font-weight: lighter;
}

.image {
    width: 400px;
    height: 400px;
    border-radius: 50%;
}

.paragraph {
    font-size: 18px;
    font-family: Helvetica, Arial, Sans-serif;
    font-weight: lighter;
    color: white;
    text-align: center;
}


.bg {
    /* The image used */
    background-image: url("Background.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}